[Desktop Entry]
Name=Numbered Workspaces
Name[ar]=مساحات عمل مرقمة
Name[bg]=Номерирани работни пространства
Name[cs]=Číslované pracovní plochy
Name[zh_CN]=工作区编号
Name[hu]=Számozott Munkaterületek
Name[pl]=Obszary robocze według numeru
Name[pt]=Áreas de Trabalho Numeradas
Name[nl]=Genummerde werkbladen
Name[sk]=Číslované pracovné plochy
Name[sv]=Numrerade arbetsytor
Name[es]=Espacios de trabajo numerados
Name[it]=Spazi di lavoro numerati
Type=Application
Exec=cosmic-applet-workspaces
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
Icon=com.system76.CosmicAppletWorkspaces
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-OverflowPriority=5
X-OverflowMinSize=8
