[Desktop Entry]
Name=Cosmic Applet Workspaces
Comment=Write a GTK + Rust application
Type=Application
Exec=cosmic-applet-workspaces
Terminal=false
Categories=GNOME;GTK;
Keywords=Gnome;GTK;
Icon=com.system76.CosmicAppletWorkspaces.svg
StartupNotify=true
NoDisplay=true
X-HostWaylandDisplay=true
