[Desktop Entry]
Name=Cosmic Applet Workspaces
Comment=Applet for Cosmic Panel
Type=Application
Exec=cosmic-applet-workspaces
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
Icon=com.system76.CosmicAppletWorkspaces
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
