[Desktop Entry]
Name=Accessibility
Name[hu]=Akadálymentesség
Name[pl]=Dostępność
Name[pt_BR]=Acessibilidade
Type=Application
Exec=cosmic-applet-a11y
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=preferences-desktop-accessibility-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
# Indicates that the auto-hover click should go to the "end" of the hover popup
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
