[workspace]

members = [
    "cosmic-app-list",
    "cosmic-applet-audio",
    "cosmic-applet-battery",
    "cosmic-applet-bluetooth",
    "cosmic-applet-graphics",
    "cosmic-applet-network",
    "cosmic-applet-notifications",
    "cosmic-applet-power",
    "cosmic-applet-time",
    "cosmic-applet-workspaces",
    "cosmic-panel-button",
]

[profile.release]
lto = "fat"
