[Desktop Entry]
Name=Tiling
Comment=Manage the active hint, current & per-workspace auto-tiling
Type=Application
Exec=cosmic-applet-tiling
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Tiling;Hint;Workspace;
Icon=com.system76.CosmicAppletTiling-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
