[Desktop Entry]
Name=Tiling
Name[ar]=تبليط
Name[bg]=Прилепване на прозорци
Name[cs]=Dlaždicový režim oken
Name[zh_CN]=平铺
Name[hu]=Csempézés
Name[pl]=Kafelkowanie
Name[pt_BR]=Janelas Lado a Lado
Name[pt]=Janelas Lado a Lado
Name[nl]=Vensters tegelen
Name[sk]=Dláždenie okien
Name[sv]=Kakling
Name[es]=Ventanas mosaico
Name[it]=Tiling
Type=Application
Exec=cosmic-applet-tiling
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletTiling-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
