[Desktop Entry]
Name=Minimized Windows
Type=Application
Exec=cosmic-applet-minimize
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletMinimize
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=10
X-HostWaylandDisplay=true
X-OverflowPriority=50
X-OverflowMinSize=2
