[Desktop Entry]
Name=Minimized Windows
Comment=Manage minimized windows
Type=Application
Exec=cosmic-applet-minimize
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Minimize;
Icon=com.system76.CosmicAppletMinimize
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=10
X-HostWaylandDisplay=true
X-OverflowPriority=50
X-OverflowMinSize=2
