[Desktop Entry]
Name=Minimized Windows
Name[ar]=النوافذ المصغّرة
Name[bg]=Минимизирани прозорци
Name[cs]=Minimalizovaná okna
Name[zh_CN]=最小化窗口
Name[hu]=Kis méretű ablakok
Name[pl]=Zminimalizowane okna
Name[pt]=Janelas Minimizadas
Name[nl]=Geminimaliseerde vensters
Name[de]=Minimierte Fenster
Name[sk]=Minimalizované okná
Name[es]=Ventanas minimizadas
Name[sv]=Minimera fönster
Name[it]=Finestre minimizzate
Type=Application
Exec=cosmic-applet-minimize
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletMinimize
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=10
X-HostWaylandDisplay=true
X-OverflowPriority=50
X-OverflowMinSize=2
