[Desktop Entry]
Name=Notifications Tray
Comment=Application indicators which may export menus to the panel
Type=Application
Exec=cosmic-applet-status-area
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Indicator;Notification;Tray;Status;
Icon=com.system76.CosmicAppletStatusArea
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=99
X-OverflowMinSize=2
