[Desktop Entry]
Name=Notifications Tray
Name[pt]=Área de estado do applet Cosmic
Comment[pt]=Applet para o painel Cosmic
Type=Application
Exec=cosmic-applet-status-area
Terminal=false
Categories=GNOME;GTK;
Keywords=Gnome;GTK;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletStatusArea
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=true
