[Desktop Entry]
Name=User Session
Comment=Lock screen, log out, suspend, reboot, and shutdown
Type=Application
Exec=cosmic-applet-power
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;User;Session;Lock;Log;Reboot;Shutdown;Suspend;
Icon=com.system76.CosmicAppletPower-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
