[Desktop Entry]
Name=User Session
Name[ar]=جلسة المستخدم
Name[bg]=Потребителска сесия
Name[cs]=Uživatelská relace
Name[zh_CN]=用户会话
Name[hu]=Felhasználói Munkamenet
Name[pl]=Sesja użytkownika
Name[pt]=Sessão de Usuário
Name[nl]=Gebruikerssessie
Name[sk]=Používateľská relácia
Name[sv]=Användarsession
Name[es]=Sesión de usuario
Name[it]=Sessione utente
Type=Application
Exec=cosmic-applet-power
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletPower-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
