[Desktop Entry]
Name=Network
Comment=Manage network connections
Type=Application
Exec=cosmic-applet-network
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Network;
Icon=com.system76.CosmicAppletNetwork-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
