[Desktop Entry]
Name=Launcher Button
Comment=Open the launcher to search applications and run commands
Type=Application
Exec=cosmic-panel-button com.system76.CosmicLauncher
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Launcher;Runner;
Icon=com.system76.CosmicPanelLauncherButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
