[Desktop Entry]
Name=Cosmic Applet Notifications
Type=Application
Exec=cosmic-applet-notifications
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletNotifications
NoDisplay=true
X-CosmicApplet=true
X-NotificationsApplet=true
X-CosmicHoverPopup=true
