[Desktop Entry]
Name=Notifications Center
Name[ar]=مركز الإشعارات
Name[bg]=Център за известия
Name[cs]=Centrum oznámení
Name[zh_CN]=通知中心
Name[hu]=Értesítési központ
Name[pl]=Centrum powiadomień
Name[pt]=Central de Notificações
Name[nl]=Meldingscentrum
Name[de]=Notifizierungszentrum
Name[sk]=Centrum oznámení
Name[sv]=Aviseringscenter
Name[es]=Centro de notificaciones
Name[it]=Centro notifiche
Type=Application
Exec=cosmic-applet-notifications
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletNotifications-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-NotificationsApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
