[Desktop Entry]
Name=Notifications Center
Comment=Manage notifications and Do Not Disturb
Type=Application
Exec=cosmic-applet-notifications
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Notification;
Icon=com.system76.CosmicAppletNotifications-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-NotificationsApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
