button {
    border-radius: 12px;
    transition: 100ms;
    padding: 4px;
    border-color: transparent;
    background: transparent;
    outline-color: transparent;
}

button:hover {
    border-radius: 12px;
    transition: 100ms;
    padding: 4px;
    border-color: rgba(255, 255, 255, 0.1);
    outline-color: rgba(255, 255, 255, 0.1);
    background: rgba(255, 255, 255, 0.1);
}

image {
    border-color: transparent;
    background: transparent;
    outline-color: transparent;
    padding: 0px;
}

window.root_window {
    background: transparent;
}
