[Desktop Entry]
Name=Cosmic Panel Workspaces Button
Comment=Applet for Cosmic Panel
Type=Application
Exec=cosmic-panel-button com.system76.CosmicWorkspaces
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicPanelWorkspacesButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
