Source: cosmic-applets
Section: admin
Priority: optional
Maintainer: system76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  rustc (=1.73.0),
  cargo,
  libdbus-1-dev,
  libegl-dev,
  libpulse-dev,
  libxkbcommon-dev,
  libwayland-dev,
  just,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-applets

Package: cosmic-applets
Architecture: amd64 arm64
Depends:
  cosmic-icons,
  ${misc:Depends},
  ${shlibs:Depends}
Recommends:
  pipewire-pulse
Description: Cosmic Applets
