Source: cosmic-applets
Section: admin
Priority: optional
Maintainer: system76 <info@system76.com>
Build-Depends:
  debhelper (>= 11),
  debhelper-compat (= 11),
  rustc (>=1.57),
  cargo,
  libgtk-4-dev,
  libpulse-dev,
  just,
  pkg-config,
Standards-Version: 4.3.0
Homepage: https://github.com/pop-os/cosmic-applets

Package: cosmic-applets
Architecture: amd64 arm64
Depends:
  ${misc:Depends},
  ${shlibs:Depends}
Description: XDG Shell Wrapper
