[Desktop Entry]
Name=Input Sources
Name[ar]=مصادر الإدخال
Name[bg]=Входни устройства
Name[cs]=Vstupní zdroje
Name[zh_CN]=输入源
Name[hu]=Beviteli Források
Name[pl]=Źródła wprowadzdania danych
Name[pt]=Métodos de Entrada de Teclado
Name[nl]=Invoerbronnen
Name[de]=Eigangsquellen
Name[sk]=Vstupné zdroje
Name[es]=Fuentes de entrada de teclado
Name[sv]=Inmatningskällor
Name[it]=Sorgenti di immissione
Type=Application
Exec=cosmic-applet-input-sources
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletInputSources-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
