[Desktop Entry]
Name=Input Sources
Comment=Switch between input sources
Type=Application
Exec=cosmic-applet-input-sources
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Input;Source;
Icon=com.system76.CosmicAppletInputSources-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
