[Desktop Entry]
Name=Cosmic Applet Bluetooth
Comment=COSMIC Panel Applet for managing bluetooth
Type=Application
Exec=cosmic-applet-bluetooth
Terminal=false
Categories=COSMIC;Iced;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletBluetooth
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
