[Desktop Entry]
Name=Bluetooth
Comment=Manage Bluetooth devices
Type=Application
Exec=cosmic-applet-bluetooth
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Bluetooth;
Icon=com.system76.CosmicAppletBluetooth-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
