[Desktop Entry]
Name=Cosmic Dock App List
Comment=Applet for Cosmic Panel
Type=Application
Exec=cosmic-app-list
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppList
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=5
X-HostWaylandDisplay=true
