[Desktop Entry]
Name=App Tray
Type=Application
Exec=cosmic-app-list
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppList
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=5
# Indicate that the applet should be shrunk if the panel is too small to fit it
X-OverflowPriority=100
X-OverflowMinSize=4
X-HostWaylandDisplay=true
