[Desktop Entry]
Name=App Tray
Comment=Launch pinned apps and manage open windows
Type=Application
Exec=cosmic-app-list
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Tray;List;Task;Bar;
Icon=com.system76.CosmicAppList
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-MinimizeApplet=5
X-OverflowPriority=100
X-OverflowMinSize=4
X-HostWaylandDisplay=true
