[Desktop Entry]
Name=App Library Button
Comment=Open the application library for launching installed applications
Type=Application
Exec=cosmic-panel-button com.system76.CosmicAppLibrary
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;App;Library;Tray;
Icon=com.system76.CosmicPanelAppButton
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-OverflowPriority=10
