[Desktop Entry]
Name=Sound
Comment=Audio device selection, volume control, and MPRIS media controls
Type=Application
Exec=cosmic-applet-audio
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Sound;Audio;MPRIS;
Icon=com.system76.CosmicAppletAudio-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
