[Desktop Entry]
Name=Cosmic Applet Audio
Comment=Applet for Cosmic Panel
Type=Application
Exec=cosmic-applet-audio
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletAudio
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
