[Desktop Entry]
Name=Sound
Name[ko]=코스믹 오디오 애플릿
Type=Application
Exec=cosmic-applet-audio
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletAudio-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
# Indicates that the auto-hover click should go to the "end" of the hover popup
X-CosmicHoverPopup=End
X-OverflowPriority=10
