[Desktop Entry]
Name=Power & Battery
Comment=Power modes and power saving options
Type=Application
Exec=cosmic-applet-battery
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Power;Battery;
Icon=com.system76.CosmicAppletBattery-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
