[Desktop Entry]
Name=Power & Battery
Name[ko]=코스믹 배터리 애플릿
Type=Application
Exec=cosmic-applet-battery
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletBattery-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
