[Desktop Entry]
Name=Power & Battery
Name[ar]=الطاقة والبطارية
Name[bg]=Захранване и батерия
Name[cs]=Napájení a baterie
Name[zh_CN]=电源与电池
Name[ko]=코스믹 배터리 애플릿
Name[hu]=Energia és Akkumulátor
Name[pl]=Zasilanie i bateria
Name[pt]=Energia e Bateria
Name[nl]=Energie en batterij
Name[de]=Energie und Akku
Name[sk]=Napájanie a batéria
Name[sv]=Ström & batteri
Name[it]=Alimentazione e batteria
Type=Application
Exec=cosmic-applet-battery
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletBattery-symbolic
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
