button.alert {
    border-radius: 0;
    padding: 0px;
    background-color: @destructive_color;
    background-image: none;
    color: @destructive_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

button.active {
    border-radius: 0;
    padding: 0px;
    background-color: @accent_color;
    background-image: none;
    color: @accent_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

button.inactive {
    border-radius: 0;
    padding: 0px;
    background-color: @view_bg_color;
    background-image: none;
    color: @view_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

button.alert:hover {
    border-radius: 0;
    padding: 0px;
    background-color: darker(@destructive_color);
    background-image: none;
    color: @destructive_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

button.active:hover {
    border-radius: 0;
    padding: 0px;
    background-color: darker(@accent_color);
    background-image: none;
    color: @accent_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

button.inactive:hover {
    border-radius: 0;
    padding: 0px;
    background-color: darker(@view_bg_color);
    background-image: none;
    color: @view_fg_color;
    border-color: transparent;
    outline-color: transparent;
}

window {
    background: transparent;
}

listview {
    border-color: transparent;
    background: transparent;
    outline-color: transparent;
}

listview row {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
    border-color: transparent;
    outline-color: transparent;
}

listview row:hover {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background: transparent;
    border-color: transparent;
    outline-color: transparent;
}

label {
    padding: 0px;
    background-color: transparent;
}

box {
    padding: 0px;
    background-color: transparent;
}