[Desktop Entry]
Name=Cosmic Applet Time
Type=Application
Exec=cosmic-applet-time
Terminal=false
Categories=Cosmic;Iced;
Keywords=Cosmic;Iced;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=com.system76.CosmicAppletTime
NoDisplay=true
X-CosmicApplet=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=true

