[Desktop Entry]
Name=Date, Time & Calendar
Comment=Display the current time in the panel with a calendar popup
Type=Application
Exec=cosmic-applet-time
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Applet;Date;Time;Calendar;
Icon=com.system76.CosmicAppletTime-symbolic
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-HostWaylandDisplay=true
X-CosmicHoverPopup=Auto
# No shrink priority, as this applet is always visible when configured
